*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

.logo{
    color: orange;
}
body{
    background-color: #1e1c2a;
}
nav{
    top: 0;
    right: 0;
    position: relative;
    width: 100%;
    display: flex;
    padding: 20px 170px;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1c2a;
    color: aliceblue;
}

nav ul{
    display: flex;
    list-style-type: none;
    
}

nav ul li{
    padding-right: 5%;
}

#menu-icon{
    display: none;
}
section{
    padding: 70px 17%;
    background-color: aqua;
}
.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-height: 90vh;  
    align-items: center;
    grid-gap: 1.5rem;
    
    
}
.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-height: 90vh;  
    align-items: center;
    grid-gap: 1.5rem;
    
    
}

.home .sec01text{
    background-color: #1e1c2a;
}

.sec01img img{
    max-width: 100%;
    width: 90vw;
    height: auto;
    background-color: blueviolet;
    
}